@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBlackItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBlack.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-Gilroy.woff2') format('woff2'),
        url('../fonts/SVN-Gilroy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyHeavy.woff2') format('woff2'),
        url('../fonts/SVN-GilroyHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroySemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroySemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyMedium.woff2') format('woff2'),
        url('../fonts/SVN-GilroyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyMediumItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyHeavyItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('../fonts/SVN-GilroyXBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyThin.woff2') format('woff2'),
        url('../fonts/SVN-GilroyThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('../fonts/SVN-GilroyXLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyThinItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('../fonts/SVN-GilroyXLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('../fonts/SVN-GilroyXBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroySemiBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroySemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body.page-template-thank-course-survey .iedg-header-course-survey, 
body.page-template-course-survey-thank .iedg-header-course-survey {
    background-color: #002349;
    position: relative;
}
  
.iedg-header-course-survey {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: transparent;
    height: auto;
}

.iedg-header-course-survey__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iedg-header-course-survey__logo {
    max-width: 259px;
}

body.page-course-survey .penn-course-survey-container, 
body.page-template-course-survey .penn-course-survey-container, 
body.page-template-course-survey-thank .penn-course-survey-container {
    font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
    color: #202121;
    font-size: 1rem;  
}

body.page-course-survey .penn-course-survey-container p, 
body.page-template-course-survey .penn-course-survey-container p, 
body.page-template-course-survey-thank .penn-course-survey-container p {
    margin-bottom: 1rem;
}

body.page-course-survey .wprm-wrapper, 
body.page-template-course-survey .wprm-wrapper, 
body.page-template-course-survey-thank .wprm-wrapper {
    display: none;
}

body.page-course-survey .row .btn-register, 
body.page-template-course-survey .row .btn-register, 
body.page-template-course-survey-thank .row .btn-register {
    width: auto !important;
}

body.page-course-survey .row .btn-register:hover, 
body.page-template-course-survey .row .btn-register:hover, 
body.page-template-course-survey-thank .row .btn-register:hover {
    color: #fff;
}

.iedg-img-drop, .iedg-img-drop-contain {
    display: block;
    position: relative;
    overflow: hidden;
}

.iedg-img-drop img, .iedg-img-drop-contain img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.iedg-img-drop img {
    -o-object-fit: cover;
    object-fit: cover;
}

.iedg-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: thin solid transparent;
    padding: 20px 50px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.penn-course-survey-banner {
    position: relative;
    z-index: 1;
}

.penn-course-survey-banner__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.penn-course-survey-banner__img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.penn-course-survey-banner__detail {
    color: #ffffff;
    position: relative;
    height: 100%;
}

.penn-course-survey-banner__detail .container {
    height: 100%;
}

.penn-course-survey-banner__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 114px;
}

@media (min-width: 768px) {
    .penn-course-survey-banner__inner {
        min-height: 600px;
    }
}

@media (min-width: 992px) {
    .penn-course-survey-banner__inner {
        min-height: 777px;
    }
}

.penn-course-survey-banner__inner h1 {
    font-size: 30px;
    line-height: 1.18519;
    margin-bottom: 1.5rem;
    color: #fff;
}

@media (min-width: 576px) {
    .penn-course-survey-banner__inner h1 {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .penn-course-survey-banner__inner h1 {
        font-size: 54px;
    }
}

.penn-course-survey-banner__inner h1 span {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.25;
}

@media (min-width: 576px) {
    .penn-course-survey-banner__inner h1 span {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .penn-course-survey-banner__inner h1 span {
        font-size: 32px;
    }
}

.penn-course-survey-banner__desc {
    max-width: 636px;
    margin-bottom: 1.5rem;
}

.penn-course-survey-banner__cta .iedg-btn, .penn-course-survey-banner__cta .gform_button, .penn-course-survey-banner__cta div.wpforms-container-full .wpforms-form button.wpforms-submit[type=submit], div.wpforms-container-full .wpforms-form .penn-course-survey-banner__cta button.wpforms-submit[type=submit] {
    padding: .75rem 2rem;
    background-color: #A51C30;
    color: #ffffff;
    font-family: "SVN-Gilroy", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.penn-course-survey-banner__cta .iedg-btn.iedg-btn-link, .penn-course-survey-banner__cta .iedg-btn-link.gform_button, .penn-course-survey-banner__cta div.wpforms-container-full .wpforms-form button.iedg-btn-link.wpforms-submit[type=submit], div.wpforms-container-full .wpforms-form .penn-course-survey-banner__cta button.iedg-btn-link.wpforms-submit[type=submit] {
    background-color: transparent;
}

.penn-course-survey-banner__cta .iedg-btn.iedg-btn-link span, .penn-course-survey-banner__cta .iedg-btn-link.gform_button span, .penn-course-survey-banner__cta div.wpforms-container-full .wpforms-form button.iedg-btn-link.wpforms-submit[type=submit] span, div.wpforms-container-full .wpforms-form .penn-course-survey-banner__cta button.iedg-btn-link.wpforms-submit[type=submit] span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-bottom: .25rem;
}

.penn-course-survey-banner__cta .iedg-btn.iedg-btn-link span::after, .penn-course-survey-banner__cta .iedg-btn-link.gform_button span::after, .penn-course-survey-banner__cta div.wpforms-container-full .wpforms-form button.iedg-btn-link.wpforms-submit[type=submit] span::after, div.wpforms-container-full .wpforms-form .penn-course-survey-banner__cta button.iedg-btn-link.wpforms-submit[type=submit] span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.penn-course-survey-banner__cta .iedg-btn.iedg-btn-link span svg, .penn-course-survey-banner__cta .iedg-btn-link.gform_button span svg, .penn-course-survey-banner__cta div.wpforms-container-full .wpforms-form button.iedg-btn-link.wpforms-submit[type=submit] span svg, div.wpforms-container-full .wpforms-form .penn-course-survey-banner__cta button.iedg-btn-link.wpforms-submit[type=submit] span svg {
    margin-left: .5rem;
}

.penn-course-survey-banner__scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.penn-course-survey-banner__scroll svg {
    margin-bottom: .75rem;
}

.penn-course-survey-banner__scroll span {
    font-weight: 500;
}

.penn-course-survey-intro {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .penn-course-survey-intro {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.penn-course-survey-intro__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.penn-course-survey-intro__inner {
    max-width: 550px;
}

.penn-course-survey-intro__inner h2 {
    margin-bottom: 1rem;
    font-size: 22px;
    color: #202121;
}

@media (min-width: 576px) {
    .penn-course-survey-intro__inner h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .penn-course-survey-intro__inner h2 {
        font-size: 32px;
    }
}

@media (min-width: 576px) {
    .penn-course-survey-intro__inner p {
        font-size: 18px;
    }
}

.penn-course-survey-intro__image img {
    border-radius: 4px;
}

.penn-course-survey-target {
    background-color: #002349;
    color: #ffffff;
    padding-top: 2.375rem;
    padding-bottom: 2.75rem;
}

@media (min-width: 768px) {
    .penn-course-survey-target {
        padding-top: 3.375rem;
        padding-bottom: 3.75rem;
    }
}

.penn-course-survey-target h2 {
    font-size: 32px;
    margin-bottom: 1.5rem;
    color: #fff;
}

@media (min-width: 768px) {
    .penn-course-survey-target h2 {
    font-size: 40px;
    margin-bottom: 2rem;
    }
}

.penn-course-survey-target__item {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

@media (min-width: 768px) {
    .penn-course-survey-target__item {
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }
}

@media (min-width: 992px) {
    .penn-course-survey-target__item:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.penn-course-survey-target__image {
    margin-bottom: 1rem;
}

.penn-course-survey-target__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1rem;
    color: #fff;
}

@media (min-width: 576px) {
    .penn-course-survey-target__title {
        font-size: 24px;
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 576px) {
    .penn-course-survey-target__desc {
        max-width: 340px;
        margin: 0 auto;
    }
}

.penn-course-survey-form {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .penn-course-survey-form {
    padding-top: 4rem;
    padding-bottom: 4rem;
    }
}

.penn-course-survey-form h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 1.5rem;
    color: #202121;
}

@media (min-width: 768px) {
    .penn-course-survey-form h2 {
    font-size: 40px;
    margin-bottom: 2rem;
    }
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-error-container {
    display: none;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: .5rem;
    color: #202121;
}

@media (min-width: 576px) {
    .penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field-label {
        font-size: 22px;
        margin-bottom: 1rem;
    }
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field {
    margin-bottom: 1.5rem;
    padding: 0;
}

@media (min-width: 576px) {
    .penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field {
        margin-bottom: 2rem;
    }
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    border-color: rgba(32, 33, 33, 0.25);
    border-radius: 0;
    height: 54px;
    padding: 0 1rem;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-error {
    display: block;
    font-size: 12px;
    color: #EE2929;
    margin-top: 6px;
}

@media (min-width: 576px) {
    .penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-error {
    font-size: 14px;
    }
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio ul  li {
    margin-bottom: 1rem !important;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li input[type="radio"] {
    display: none;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li input[type="radio"]:checked + .wpforms-field-label-inline:before {
    background: #002349;
    border-color: #002349;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li input[type="radio"]:checked + .wpforms-field-label-inline:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 100%;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li .wpforms-field-label-inline {
    position: relative;
    font-weight: 500;
    padding-left: 36px;
    margin-bottom: 1rem;
    color: #202121;
}

@media (min-width: 576px) {
    .penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li .wpforms-field-label-inline {
        font-size: 18px;
    }
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-radio li .wpforms-field-label-inline:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    border: solid 2px rgba(35, 35, 35, 0.5);
    border-radius: 100%;
    background: #ffffff;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form button.wpforms-submit[type=submit] {
    background: #002349;
    border-radius: 8px;
    padding: 14px 32px 14px 64px;
    position: relative;
    color: #fff;
}

.penn-course-survey-form__detail div.wpforms-container-full .wpforms-form button.wpforms-submit[type=submit]::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    left: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1L6 13V20L9.6 15.7' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 9L21 1L17 21L1 9Z' stroke='white' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.thank-course-survey {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .thank-course-survey {
    padding-top: 9rem;
    padding-bottom: 6rem;
    }
}

.thank-course-survey__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.thank-course-survey h1 {
    font-size: 32px;
    margin-bottom: 2rem;
    color: #202121;
}

.thank-course-survey img {
    max-width: 190px;
    margin-bottom: 2.5rem;
}

.thank-course-survey .iedg-btn, .thank-course-survey .gform_button, .thank-course-survey div.wpforms-container-full .wpforms-form button.wpforms-submit[type=submit], div.wpforms-container-full .wpforms-form .thank-course-survey button.wpforms-submit[type=submit] {
    background-color: #002349;
    padding: 12px 48px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}