@font-face {
  font-family: 'iCielPr Fetridge';
  src: url('../fonts/iCielPrFetridge-Regular2.woff2') format('woff2'),
      url('../fonts/iCielPrFetridge-Regular2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

header.header-spring-festival {
	height: auto;
	background-color: transparent;
	padding: 40px 0;
}

header.header-spring-festival .spring-festival-lang {
	padding: 25px 0;
}

header.header-spring-festival .spring-festival-lang ul {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  list-style-type: none;
  white-space: nowrap;
  padding: 8px 0 2px;
  margin: 0;
}

header.header-spring-festival .spring-festival-lang ul li {
  display: inline-block;
  padding: 0 14px;
}

header.header-spring-festival .spring-festival-lang ul li:first-child {
  border-right: solid 1px #58595B;
  padding: 0 16px;
}

header.header-spring-festival .spring-festival-lang ul li img {
  display: block;
  min-width: 20px;
  min-height: 15px;
  border-radius: 3px;
}

.page-template-page-spring-festival-countdown {
  background-color: #BC2A27;
  background-image: url(../images/spring-festival/countdown-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.page-template-page-spring-festival-home {
  background: rgb(173,21,30);
  background: url(../images/spring-festival/homepage-01-bg.png), linear-gradient(0deg, rgba(173,21,30,1) 0%, rgba(190,18,32,1) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.page-template-page-spring-festival-game {
  background: rgb(173,21,30);
  background: url(../images/spring-festival/gamepage-bg.png), linear-gradient(0deg, rgba(173,21,30,1) 0%, rgba(190,18,32,1) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

section#heading_section {
  padding-top: 12vw;
}

/***** FOOTER COMPONENT  *****/
footer.footer {
  background-color: transparent;
  background-image: url(../images/spring-festival/countdown-footer.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  border-top: none;
}

footer.footer p,
footer.footer span,
footer.footer a {
  color: #001C54;
}

.footer-spring-festival__info span {
  display: inline-block;
  width: 100%;
  max-width: 10vw;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  footer.footer {
    background-color: #FFEAB7;
    background-position: 12% 0;
    background-size: auto;
  }
  .footer-spring-festival__info {
    padding-top: 90vw;
  }
  .footer-spring-festival__info span {
    max-width: 22vw;
    font-size: 0.75rem;
  }
  .footer-spring-festival__contact .contact-title {
    font-size: 1rem;
  }
}

.footer-spring-festival__info {
  font-weight: 500;
  padding-top: 40vw;
  padding-bottom: 0;
}

.footer-spring-festival__info p,
.footer-spring-festival__info span,
.footer-spring-festival__info .follow a {
  color: #001C54;
}

.footer-spring-festival__info span {
  display: inline-block;
  width: 100%;
  max-width: 10vw;
  vertical-align: bottom;
}

.footer-spring-festival__info .follow {
  margin-bottom: 30px;
}

.footer-spring-festival__info .follow ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-spring-festival__info .follow li {
  display: inline;
  margin-right: 10px;
  list-style: none;
}

.footer-spring-festival__info .follow li:last-child {
  margin-right: 0;
}

.footer-spring-festival__info .follow li img {
  width: 40px;
}

.footer-spring-festival__contact {
  line-height: 1.5;
}

.footer-spring-festival__contact img {
  vertical-align: top;
  margin-right: 0.75rem;
}

@media (max-width: 576px) {
  footer.footer {
    background-color: #FFEAB7;
    background-position: 12% 0;
    background-size: auto;
  }
  .footer-spring-festival__info span {
    max-width: calc(100% - 30px);
    font-size: 0.975rem;
  }
  .footer-spring-festival__info .follow li {
    margin-right: 5px;
  }
  .footer-spring-festival__info .follow li img {
    width: 24px;
  }
  .footer-spring-festival__contact .contact-title {
    font-size: 0.975rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 992px) {
  .footer-spring-festival__contact img {
    margin-right: 0;
  }
}

.footer-spring-festival__contact .contact-title {
  color: #AE171F;
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-spring-festival__contact-item {
  margin-bottom: 20px;
}

.footer-spring-festival__contact-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-spring-festival__contact-item ul li {
  list-style: none;
}

.footer-spring-festival__contact__contact-phone a {
  position: relative;
  margin-right: 15px;
  padding-right: 15px;
}

.footer-spring-festival__contact__contact-phone a:last-child {
  margin-right: 0;
  padding-right: 0;
}

.footer-spring-festival__contact__contact-phone a:last-child:after {
  display: none;
}

.footer-spring-festival__bottom {
  border-top: solid 2px #AE171F;
  padding: 30px 0;
}

.social-links .social-child {
  margin-top: 0;
}

@media (max-width: 576px) {
  .footer-spring-festival__bottom {
    padding: 10px 0;
  }
}

.footer-spring-festival__bottom .copyright {
  text-align: center;
  color: #001C54;
  font-weight: 500;
}

.footer-spring-festival__bottom .row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .footer-spring-festival__bottom .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer-spring-festival__brand-logo img {
  display: block;
  width: 100%;
}

.iedg-footer__info {
  background-color: #FFF5F6;
  padding-top: 30px;
  padding-bottom: 80px;
}

.iedg-footer__info a {
  color: #1B1B1B;
}

.iedg-footer__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 36px;
}


@media (max-width: 768px) {
  .footer-spring-festival__brand-logo img {
    max-width: 200px;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .footer-spring-festival__brand-logo img {
    margin-top: 20rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  header.header-spring-festival {
    padding: 20px 0;
  }

  .page-template-page-spring-festival-countdown {
    background-color: #AD161E;
    background-image: url(../images/spring-festival/countdown-bg.png);
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

/*** COUNTDOWN ***/
@media (max-width: 768px) {
  header {
    margin-top: 2rem;
  }
  main {
    padding: 40px 0;
  }
}

section.spring-festival-home p {
  font-family: Montserrat, "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

section h2 {
  font-family: 'iCielPr Fetridge', cursive;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  color: #FFEAB7;
}

section#part_01 {
  padding-top: 6vw;
}

section#part_01 #intro {
  width: 100%;
  max-width: 1080px;
  background-image: url("../images/spring-festival/intro-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  text-align: justify;
  padding: 4rem 6rem;
  margin: 0 auto;
}

section#heading_section {
  padding-top: 12vw;
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  section#heading_section {
    padding-top: 0;
  }
}

section#heading_section img.heading {
  width: 100%;
  max-width: 720px;
}

@media (max-width: 576px) {
  section#heading_section img.heading {
    max-width: 240px;
  }
}

section#countdown_section {
  position: relative;
  width: 100%;
  max-width: 880px;
  min-height: 330px;
  background-image: url("../images/spring-festival/countdown-timer.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  margin: 0 auto;
}

section#countdown_section button.login {
  background-color: #AE161F;
  color: #FFEAB7;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.625rem;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 20px 35px;
  margin-top: 20%;
}

section#countdown_section .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 80px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 16%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  section#countdown_section .countdown {
    max-width: calc(100% - 120px);
    padding-top: 12%;
  }
}

section#countdown_section .countdown label {
  color: inherit;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  section#countdown_section .countdown label {
    font-size: 2.5rem;
    line-height: 1.5;
  }
}

section#countdown_section .countdown span {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  section#countdown_section .countdown span {
    font-size: 1rem;
    text-transform: none;
  }
}

section#countdown_section .countdown .embed-responsive {
  margin-bottom: 10px;
}

section#countdown_section .countdown .embed-responsive::before {
  display: block;
  padding-bottom: 50%;
}

@media (max-width: 576px) {
  section#countdown_section .countdown .embed-responsive::before {
    padding-bottom: 70%;
  }
}

section#countdown_section .countdown-wrap {
  background: rgba(255, 255, 255, 0.5);
  padding: 80px 45px;
  max-width: 525px;
  border-radius: 10px;
  margin: 0 auto;
}

section#countdown_section .countdown-group {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  font-family: 'Alfa Slab One', cursive;
  color: #954116;
  text-align: center;
  padding: 20px 0 0;
  margin: 0 8px;
}

section#countdown_section .countdown-group:not(:last-child):after {
  content: ":";
  display: inline-block;
  position: absolute;
  top: 25%;
  right: -10%;
  font-family: 'Varela Round', sans-serif;
  font-size: 5rem;
  vertical-align: middle;
}

@media (max-width: 576px) {
  section#countdown_section .countdown-group:not(:last-child):after {
    font-size: 2.5rem;
  }
}

section#countdown_section .countdown-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  margin-bottom: 25px;
}

/*** HOME & GAME PAGE ***/

.spring-festival-home .video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 10px;
}

.spring-festival-home .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spring-festival-home .spacing {
  width: 100%;
  margin: 2rem 0;
}

.spring-festival-home .spacing-v2 {
  margin: 5rem 0;
}

@media (max-width: 576px) {
  .spring-festival-home .spacing-v2 {
    margin: 1rem 0;
  }
}

.spring-festival-home .spacing-v3 {
  margin: 12rem 0;
}

@media (max-width: 576px) {
  .spring-festival-home .spacing-v3 {
    margin: 3rem 0;
  }
}

.spring-festival-home section {
  position: relative;
}

.spring-festival-home section .right-content {
  padding-top: 10vw;
  padding-bottom: 8vw;
}

.spring-festival-home section p {
  font-family: Montserrat, "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-align: justify;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .spring-festival-home section p {
    font-size: 0.875rem;
  }
}

.spring-festival-home section h2 {
  font-family: 'iCielPr Fetridge', cursive;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #FFEAB7;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .spring-festival-home section h2 {
    font-size: 2.5rem;
  }
}

.spring-festival-home section img:not(.dragon-tiger):not(.heading) {
  position: absolute;
}

.spring-festival-home section img.kids {
  bottom: 20%;
  left: 0;
}

.spring-festival-home section img.tiger-envelope {
  bottom: 30%;
  left: 0;
}

@media (max-width: 576px) {
  .spring-festival-home section img {
    position: static !important;
    bottom: unset !important;
    left: unset !important;
  }
}

.spring-festival-home section #game_map_wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 1000;
}

@media (max-width: 576px) {
  .spring-festival-home section #game_map_wrapper {
    position: static;
    top: unset;
    left: unset;
  }
}

.spring-festival-home section#part_01 {
  padding-top: 6vw;
}

.spring-festival-home section#part_01 #intro {
  width: 100%;
  max-width: 1080px;
  background-image: url("../images/spring-festival/intro-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  text-align: justify;
  padding: 4rem 6rem;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .spring-festival-home section#part_01 #intro {
    background-image: url("../images/spring-festival/intro-mobile-bg.png");
    background-size: auto;
    padding: 1.5rem;
    margin-bottom: 5rem;
  }
}

.spring-festival-home section#part_02 {
  background: #C82826;
  background: url("../images/spring-festival/homepage-02-bg.png"), #C82826;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding: 4rem 0 2rem;
}

.spring-festival-home section#part_02::before {
  content: "";
  background: url(../images/spring-festival/homepage-tiger-cub.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  position: absolute;
  top: -80px;
  right: 18vw;
  width: 170px;
  height: 126px;
}

.spring-festival-home section#part_03 {
  background-image: url("../images/spring-festival/homepage-03-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding: 5rem 0 7.5rem;
}

.spring-festival-home section#part_03 .video-wrapper {
  width: 100%;
  height: 100%;
  background-color: #E8C370;
  margin-top: 3rem;
}

.spring-festival-home section#heading_section {
  padding-top: 12vw;
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .spring-festival-home section#heading_section {
    padding-top: 0;
  }
}

.spring-festival-home section#heading_section img.heading {
  width: 100%;
  max-width: 720px;
}

@media (max-width: 576px) {
  .spring-festival-home section#heading_section img.heading {
    max-width: 240px;
  }
}

.spring-festival-game .video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 10px;
}

.spring-festival-game .video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spring-festival-game .spacing {
  width: 100%;
  margin: 2rem 0;
}

.spring-festival-game .spacing-v2 {
  margin: 5rem 0;
}

@media (max-width: 576px) {
  .spring-festival-game .spacing-v2 {
    margin: 1rem 0;
  }
}

.spring-festival-game .spacing-v3 {
  margin: 12rem 0;
}

@media (max-width: 576px) {
  .spring-festival-game .spacing-v3 {
    margin: 3rem 0;
  }
}

.spring-festival-game section {
  position: relative;
}

.spring-festival-game section p {
  font-family: Montserrat, "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-align: justify;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .spring-festival-game section p {
    font-size: 0.875rem;
  }
}

.spring-festival-game section h2 {
  display: inline-block;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 400;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-shadow: 3px 3px #A14C1F;
  line-height: 1;
  text-align: center;
  color: #FFEAB7;
  padding: 3.25rem 4rem;
}

@media (max-width: 576px) {
  .spring-festival-game section h2 {
    font-size: 1.5rem;
  }
}

.spring-festival-game section img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .spring-festival-game section img {
    position: static;
    bottom: unset;
    left: unset;
  }
}

.spring-festival-game section .back-link {
  display: block;
  width: 12rem;
  background-image: url("../images/spring-festival/gamepage-back-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 2px 2px #662111;
  padding: 1.25rem 2.25rem 1.75rem;
  margin-right: auto;
}

@media (max-width: 576px) {
  .spring-festival-game section .back-link {
    margin-left: auto;
  }
}

.spring-festival-game section .challenge-text {
  position: relative;
  background: #F9C924;
  background: -webkit-gradient(linear, left top, right top, from(#F9C924), to(#FFF98C));
  background: -o-linear-gradient(left, #F9C924 0%, #FFF98C 100%);
  background: linear-gradient(to right, #F9C924 0%, #FFF98C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75rem;
  font-weight: 600;
}

.spring-festival-game section .challenge-text em {
  font-size: 2.5rem;
  font-style: normal;
  vertical-align: middle;
}

.spring-festival-game section .challenge-text::after {
  content: " ";
  display: inline-block;
  background-image: url("../images/spring-festival/gamepage-challenge-text.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: -50%;
}

.spring-festival-game section #game_wrapper {
  width: 100%;
  overflow: visible;
  z-index: 1000;
}

.spring-festival-game section #game_wrapper h2 {
  width: 30rem;
  max-width: 100%;
  background-image: url("../images/spring-festival/gamepage-title-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  line-height: 1.5;
}

.spring-festival-game section #game_wrapper .content {
  background-image: url("../images/spring-festival/gamepage-board-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  max-width: 1080px;
  padding: 4rem;
  margin: -5rem auto 0;
}

@media (max-width: 576px) {
  .spring-festival-game section #game_wrapper .content {
    padding: 1rem;
  }
}

.spring-festival-game section #game_wrapper .content iframe {
  max-width: 700px;
  min-height: 525px;
}

.spring-festival-game section #game_wrapper .content:only-child {
  margin: 0 auto;
}

.spring-festival-game section #game_wrapper .content img {
  max-height: 580px;
}

@media (max-width: 576px) {
  .spring-festival-game section #game_wrapper {
    position: static;
    top: unset;
    left: unset;
  }
}

.spring-festival-game section#part_00 {
  padding-top: 2vw;
}

.spring-festival-game section#part_00 #intro {
  width: 100%;
  max-width: 800px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0;
  margin: 0 auto 2rem;
}

@media (max-width: 576px) {
  .spring-festival-game section#part_00 #intro {
    padding: 0 0;
    margin-bottom: 0;
  }
}

.spring-festival-game section#heading_section {
  padding-top: 12vw;
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .spring-festival-game section#heading_section {
    padding-top: 0;
  }
}

.spring-festival-game section#heading_section img.heading {
  width: 100%;
  max-width: 720px;
}

@media (max-width: 576px) {
  .spring-festival-game section#heading_section img.heading {
    max-width: 240px;
  }
}

.footer-spring-festival__info {
  padding-top: 50vw;
}

@media (max-width: 576px) {
  .footer-spring-festival__info {
    padding-top: 80vw;
  }
}