extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-home"
    -typeMenu = "iedg-header-transparents"

block container
    section.iedg-example 
        span Index.html
        //- Training methods
    section.pennacademy-training#phuong-phap-dao-tao
        .container
            .pennacademy-training__title Mang đến lộ trình học IELTS tốt nhất cho người Việt
            .iedg-title Phương pháp đào tạo PEER độc quyền
            .pennacademy-training__pagination
                .pennacademy-training-bullet.pennacademy-training__active
                    .pennacademy-training__title Practice
                    .pennacademy-training__item 
                        span.line
                        span.bullet
                    .pennacademy-training__desc Luyện tập không ngừng để làm quen với các dạng bài thi và nâng cao khả năng sử dụng ngoại ngữ
                .pennacademy-training-bullet 
                    .pennacademy-training__title Evaluation
                    .pennacademy-training__item 
                        span.line
                        span.bullet
                    .pennacademy-training__desc Tổ chức đánh giá thường xuyên để giúp học viên phát huy điểm mạnh & cải thiện điểm yếu
                .pennacademy-training-bullet
                    .pennacademy-training__title Engagement
                    .pennacademy-training__item 
                        span.line
                        span.bullet
                    .pennacademy-training__desc Thiết lập sự gắn kết giữa học viên với bài học và xây dựng lộ trình phụ hợp với học viên
                .pennacademy-training-bullet 
                    .pennacademy-training__title Reflection
                    .pennacademy-training__item 
                        span.line
                        span.bullet
                    .pennacademy-training__desc Rút kinh nghiệm trong mỗi bài kiểm tra để tránh những lỗi sai thường gặp và hoàn thiện toàn diện các kỹ năng
    
    //- Students' feelings about the course
    section.pennacademy-testimonial#cau-chuyen-hoc-vien
        .container
            .row
                .col-lg-5
                    .pennacademy-testimonial__wrap
                        .pennacademy-testimonial__wrap--img
                            img.lazy(data-src="./images/home/parentheses.svg" alt="")
                        .pennacademy-testimonial__wrap--title
                            h2 Cảm nghĩ của học viên về khoá học
                        .pennacademy-testimonial__wrap--desc
                            p Don't just trust one side of the story! Here's what our partners have said about us.
                        .pennacademy-testimonial__wrap--cta
                            a(href="#" class="iedg-btn iedg-btn-primary") Đăng ký ngay
                                +icon('arrow-e')
                .col-lg-7
                    .row.rowtestimonial
                        .col-lg-6.pennacademy-col-testimonial
                            .pennacademy-col-testimonial-inner
                                .pennacademy-testimonial__item
                                    .pennacademy-testimonial__body
                                        .pennacademy-testimonial__body--img
                                            img.lazy(data-src="./images/home/star.svg" alt="")
                                        .pennacademy-testimonial__body--content
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                                    .pennacademy-testimonial__footer
                                        .pennacademy-testimonial__img
                                            img.lazy(data-src="./images/home/cam-nghi-1.png" alt="")
                                        .pennacademy-testimonial__info
                                            .pennacademy-testimonial__info--name Bạn Nguyễn Đình Bá Lộc
                                            .pennacademy-testimonial__info--class Học viên lớp A1, K41
                                .pennacademy-testimonial__item
                                    .pennacademy-testimonial__body
                                        .pennacademy-testimonial__body--img
                                            img.lazy(data-src="./images/home/star.svg" alt="")
                                        .pennacademy-testimonial__body--content
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                    .pennacademy-testimonial__footer
                                        .pennacademy-testimonial__img
                                            img.lazy(data-src="./images/home/cam-nghi-2.png" alt="")
                                        .pennacademy-testimonial__info
                                            .pennacademy-testimonial__info--name Bạn Nguyễn Hoàng Nguyên Hạnh
                                            .pennacademy-testimonial__info--class Học viên lớp B1, K39
                        .col-lg-6.pennacademy-col-testimonial
                            .pennacademy-col-testimonial-inner
                                .pennacademy-testimonial__item
                                    .pennacademy-testimonial__body
                                        .pennacademy-testimonial__body--img
                                            img.lazy(data-src="./images/home/star.svg" alt="")
                                        .pennacademy-testimonial__body--content
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                                    .pennacademy-testimonial__footer
                                        .pennacademy-testimonial__img
                                            img.lazy(data-src="./images/home/cam-nghi-3.png" alt="")
                                        .pennacademy-testimonial__info
                                            .pennacademy-testimonial__info--name Bạn Lưu Hữu Tài
                                            .pennacademy-testimonial__info--class Học viên lớp B1, K38
                                .pennacademy-testimonial__item
                                    .pennacademy-testimonial__body
                                        .pennacademy-testimonial__body--img
                                            img.lazy(data-src="./images/home/star.svg" alt="")
                                        .pennacademy-testimonial__body--content
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                                    .pennacademy-testimonial__footer
                                        .pennacademy-testimonial__img
                                            img.lazy(data-src="./images/home/cam-nghi-4.png" alt="")
                                        .pennacademy-testimonial__info
                                            .pennacademy-testimonial__info--name Bạn Nguyễn Phượng My
                                            .pennacademy-testimonial__info--class Học viên lớp B1, K39

    //- Educational Pathway
    section.pennacademy-educational-pathway
        .container
            .pennacademy-educational-pathway__title
                span.iedg-title__medium DÀNH RIÊNG CHO
                h2.iedg-title HỌC VIÊN PENN ACADEMY
            .pennacademy-educational-pathway__tab 
                .pennacademy-educational-pathway__tab-item.active
                    .pennacademy-educational-pathway__tab-item--wrap
                        .pennacademy-educational-pathway__tab-item--image
                            img.lazy(data-src="./images/home/student-1.svg")
                        .pennacademy-educational-pathway__tab-item--title Lộ trình học
                .pennacademy-educational-pathway__tab-item
                    .pennacademy-educational-pathway__tab-item--wrap
                        .pennacademy-educational-pathway__tab-item--image
                            img.lazy(data-src="./images/home/student-2.svg")
                        .pennacademy-educational-pathway__tab-item--title Đội ngũ giáo viên
                .pennacademy-educational-pathway__tab-item
                    .pennacademy-educational-pathway__tab-item--wrap
                        .pennacademy-educational-pathway__tab-item--image
                            img.lazy(data-src="./images/home/student-3.svg")
                        .pennacademy-educational-pathway__tab-item--title Học phí
                .pennacademy-educational-pathway__tab-item
                    .pennacademy-educational-pathway__tab-item--wrap
                        .pennacademy-educational-pathway__tab-item--image
                            img.lazy(data-src="./images/home/student-4.svg")
                        .pennacademy-educational-pathway__tab-item--title Công nghệ P - Learning
            .pennacademy-educational-pathway__list 
                .pennacademy-educational-pathway__item
                    .row.pennacademy-educational-pathway__row
                        .col-lg-6
                            .pennacademy-educational-pathway__item--image 
                                img(data-lazy="./images/home/educational-pathway.jpg")
                        .col-lg-6 
                            .pennacademy-educational-pathway__wrap
                                .pennacademy-educational-pathway__item--title Lộ trình học tinh gọn, bám sát năng lực của học viên 1
                                .pennacademy-educational-pathway__item--desc Giúp học viên xây dựng lộ trình học phù hợp với trình độ thực tế và tối ưu hóa năng lực trong thời gian ngắn. Nội dung ôn tập bám sát đề thi thật với trình độ tương đương 6.5 IELTS

                                .pennacademy-educational-pathway__register
                                    a(href="#" class="iedg-btn iedg-btn-outline-primary") Đăng ký ngay
                .pennacademy-educational-pathway__item
                    .row.pennacademy-educational-pathway__row
                        .col-lg-6
                            .pennacademy-educational-pathway__item--image 
                                img(data-lazy="./images/home/educational-pathway.jpg")
                        .col-lg-6 
                            .pennacademy-educational-pathway__wrap
                                .pennacademy-educational-pathway__item--title Lộ trình học tinh gọn, bám sát năng lực của học viên 2
                                .pennacademy-educational-pathway__item--desc Giúp học viên xây dựng lộ trình học phù hợp với trình độ thực tế và tối ưu hóa năng lực trong thời gian ngắn. Nội dung ôn tập bám sát đề thi thật với trình độ tương đương 6.5 IELTS

                                .pennacademy-educational-pathway__register
                                    a(href="#" class="iedg-btn iedg-btn-outline-primary") Đăng ký ngay
                .pennacademy-educational-pathway__item
                    .row.pennacademy-educational-pathway__row
                        .col-lg-6
                            .pennacademy-educational-pathway__item--image 
                                img(data-lazy="./images/home/educational-pathway.jpg")
                        .col-lg-6 
                            .pennacademy-educational-pathway__wrap
                                .pennacademy-educational-pathway__item--title Lộ trình học tinh gọn, bám sát năng lực của học viên 3
                                .pennacademy-educational-pathway__item--desc Giúp học viên xây dựng lộ trình học phù hợp với trình độ thực tế và tối ưu hóa năng lực trong thời gian ngắn. Nội dung ôn tập bám sát đề thi thật với trình độ tương đương 6.5 IELTS

                                .pennacademy-educational-pathway__register
                                    a(href="#" class="iedg-btn iedg-btn-outline-primary") Đăng ký ngay

    section.pennacademy-contact
        .container
            .pennacademy-contact__form 
                h2.pennacademy-contact__form--title Đăng ký test trình độ và tư vấn miễn phí
                .pennacademy-contact__form--content 
                    .wpforms-container.wpforms-container-full
                        form(action="./styleguide.html" class="wpforms-validate wpforms-form wpforms-ajax-form")
                            .wpforms-field-container
                                +wpf-input("wpf-input-2", "Họ tên phụ huynh *", "Họ tên phụ huynh *", "Validation message")
                                +wpf-input("wpf-input-3", "Số điện thoại *", "Số điện thoại *")
                                +wpf-input("wpf-input-5", "Email", "Email")
                                +wpf-select("Chương trình quan tâm *", "Chương trình quan tâm", "Option 1", "Option 2", "Option 3")
                                +v-textarea("Nội dung", "Nội dung")
                                
                            .wpforms-submit-container
                                button(type="submit" class="wpforms-submit" data-alt-text="Sending..." data-submit-text="Submit") GỬI THÔNG TIN
