extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-home"
    -typeMenu = "iedg-header-transparents"

block container
    section.iedg-example 
        span Index.html